$brand-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  googleplus: #dd4b39,
  linkedin: #0077b5,
  reddit: #ff4500,
  whatsapp: #128c7e,
);

.post-social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  .button {
    margin: 1rem 0;
    border: none;
    outline: none;
    // transition: all 300ms ease-out;
    @each $class, $color in $brand-colors {
      &.#{$class} {
        .icon {
          color: $color;
          margin: 0 0.1rem;
          background-color: white;
          border: 1px solid $color;
          padding: 0.5rem 1rem;
          &:hover {
            background-color: $color;
            border-color: $color;
            color: #fff;
          }
        }
        .text {
          display: none;
        }
      }
    }
  }
}
